CHANNEL_ACCESS_TOKEN=ShgdTgPFYiUJ1PMFGDdmrYUT0YO+KDkUbx3Suoy1vhM5soguGohdfo77Tpy/zQQ83mNOvVj8lF4UG0IuQa2X77GP48i0vNN+B9ouYwI7GT16RZ3zjucUh6HiVaSE/jxepp2IUaJzWmcAhucEQQs8BwdB04t89/1O/w1cDnyilFU=
CHANNEL_SECRET=daf4bf0a38942927d817dfd3eb3b0b91
